<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ywl5320.wlivefm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".mvp.LiveActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".mvp.LiveListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.LocalActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".server.FMServer"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000" >
                <action android:name="com.ywl5320.FMService" />
            </intent-filter>
        </service>
        <receiver android:name=".brocast.NotificationBroadCast" android:enabled="true">
            <intent-filter>
                <action android:name="CLICK_NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>
        <meta-data android:name="design_width" android:value="1035"/>
        <meta-data android:name="design_height" android:value="1840"/>

    </application>

</manifest>